<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="UpdateUrl" value="https://raw.githubusercontent.com/JosefNemec/LiteDbExplorer/master/web/update.json" />
    <add key="IssuesUrl" value="https://github.com/JosefNemec/LiteDbExplorer/issues" />
    <add key="ReleasesUrl" value="https://github.com/JosefNemec/LiteDbExplorer/releases" />
    <add key="HomepageUrl" value="https://github.com/JosefNemec/LiteDbExplorer" />
    <add key="PipeEndpoint" value="net.pipe://localhost/LiteDBExplorerPipe" />
  </appSettings>
</configuration>
